services:
  script:
    build:
      context: .
      dockerfile: docker/script/Dockerfile
    volumes:
      - ./:/workspace
      - /var/run/docker.sock:/var/run/docker.sock  # ホストのDockerソケット
      - /var/lib/docker:/var/lib/docker            # イメージキャッシュ共有
    env_file:
      - env/script/.env
    tty: true
    stop_grace_period: 0s
    privileged: true

  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    volumes:
      - ./app/web:/workspace/app/web
      - ./app/lib:/workspace/app/lib
    expose:
      - "5173"
    user: ubuntu
    tty: true
    stop_grace_period: 0s

  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    volumes:
      - ./app/api:/workspace/app/api
      - ./app/lib:/workspace/app/lib
    expose:
      - "5173"
      - "3000"
    env_file:
      - env/api/.env
    user: ubuntu
    tty: true
    stop_grace_period: 0s

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    ports:
      - "80:80"
